uvicorn==0.15.0
fastapi==0.70.0
SQLAlchemy==1.4.26
psycopg2-binary==2.9.1
aiofiles==0.6.0
python-multipart==0.0.5
jinja2==2.11.2
asyncio==3.4.3
databases[postgresql]==0.5.3

pytest==6.2.3
requests==2.25.1
